.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
  }
  
  .select-selected {
    background-color: #f9f9f9;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
  }
  
  .select-items {
    display: block;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 99;
    border: 1px solid #ddd;
    border-radius: 25px;
  }
  
  .select-items div {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .select-items div img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  
  .select-items div:hover {
    background-color: #f1f1f1;
  }
  
  .arrow {
    margin-left: auto;
  }
  
  .select-selected img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  